* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  background-image: url("img/gradienta-m_7p45JfXQo-unsplash_1.jpg");
  background-repeat: repeat-y;
  background-size: 100%;
}

.mainIcon {
  width: 14%;
  display: inline-block;
  vertical-align: middle;
}

.logo {
  color: rgb(234, 238, 241);
  display: inline-block;
  vertical-align: middle;
  font-size: 3vw;
  justify-content: start;
}

.icons {
  display: inline-block;
  vertical-align: middle;
  width: 49%;
  justify-content: end;
}

.bodyWrapper {
  width: 84%;
  height: 100%;
  padding: 0px;
  margin: 3% 8% 0% 8%;
  box-sizing: border-box;
}

.nav {
  width: 100%;
  height: auto;
  display: inline-block;
  vertical-align: middle;
}

.icon {
  font-family: "Poppins", sans-serif;
  color: rgb(234, 238, 241);
  font-size: 1.5vw;
  width: 49.5%;
  display: inline-block;
  vertical-align: middle;
}

.skynoxicon {
  display: inline-block;
  vertical-align: middle;
}

.skynoxicon img {
  width: 8%;
  height: auto;
  float: right;
  margin: 0px 8px 0px 8px;
}

.addon {
  display: none;
}

.wrapper {
  width: 100%;
  display: inline-block;
  vertical-align: middle;
  margin: 60px 0px 60px 0px;
}

.leftContent {
  display: inline-block;
  vertical-align: middle;
  width: 49%;
  font-family: "Nunito Sans", sans-serif;
  color: rgb(234, 238, 241);
}

.rightContent {
  display: inline-block;
  vertical-align: middle;
  width: 50%;
  text-align: center;
}

.pHeader {
  font-family: "Nunito Sans", sans-serif;
  color: rgb(255, 255, 255);
  margin: 10px 0px 10px 0px;
  font-size: 4vw;
}

.pCaption {
  font-family: "Nunito Sans", sans-serif;
  color: rgb(234, 238, 241);
  margin: 10px 0px 30px 0px;
  font-size: 1.7vw;
  width: 84%;
}

.featuresBtn {
  font-family: "Nunito Sans", sans-serif;
  color: rgb(234, 238, 241);
  background: transparent;
  border: 1px rgb(234, 238, 241) solid;
  border-radius: 3px;
  margin: 20px 0px 20px 0px;
  padding: 10px 10px 10px 10px;
  cursor: pointer;
}

.featuresBtn2 {
  font-family: "Nunito Sans", sans-serif;
  color: rgb(234, 238, 241);
  background: transparent;
  border: 1px rgb(234, 238, 241) solid;
  border-radius: 3px;
  margin: 20px 0px 20px 15px;
  padding: 10px 10px 10px 10px;
  cursor: pointer;
}

.rightContent img {
  width: 75%;
  height: auto;
}

.featureIcon {
  display: inline-block;
  vertical-align: middle;
  width: 23%;
}

.featureSection {
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 8%;
}

.featureIcon img {
  width: 30%;
  height: auto;
}

.featureIcon h3 {
  font-family: "Nunito Sans", sans-serif;
  font-weight: bold;
  color: rgb(234, 238, 241);
  font-size: 1vw;
  margin: 0px 0px 50px 0px;
}

.rightContentfeature {
  display: inline-block;
  vertical-align: middle;
  width: 50%;
  text-align: center;
}

.rightContentfeature img {
  width: 75%;
}

.cmd {
  color: rgb(255, 226, 61);
  font-size: 2vw;
  margin: 20px 0px 20px 0px;
}

.footer {
  width: 100%;
  padding: 1% 0% 1% 0%;
  margin-bottom: 0px;
  color: rgb(234, 238, 241);
  background-color: #141414;
  font-family: "Nunito Sans", sans-serif;
  font-weight: bold;
  text-align: center;
}

.contact {
  text-decoration: none;
  color: rgb(255, 226, 61);
}

@media only screen and (max-width: 525px) {
  body {
    background-image: url("img/mob_bg.jpg");
  }

  .rightContent {
    display: block;
    text-align: center;
    width: 100%;
  }

  .leftContent {
    display: block;
    width: 100%;
  }

  .rightContent img {
    width: 100%;
    display: block;
  }

  .pHeader {
    margin: 0px 0px 30px 0px;
    font-size: 10vw;
    text-align: center;
  }

  .pCaption {
    display: none;
  }

  .addon {
    display: block;
  }

  .featuresBtn {
    display: none;
  }

  .addon {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
  }

  .pCaptionAddon {
    margin: 0px 0px 30px 0px;
    font-size: 3vw;
    font-family: "Nunito Sans", sans-serif;
    color: rgb(234, 238, 241);
    margin: 10px 0px 30px 0px;
    width: 100%;
    text-align: center;
  }

  .featuresBtnAddon {
    font-family: "Nunito Sans", sans-serif;
    color: rgb(234, 238, 241);
    background: transparent;
    border: 1px rgb(234, 238, 241) solid;
    border-radius: 3px;
    margin: 20px 0px 20px 0px;
    padding: 10px 12px 10px 12px;
    cursor: pointer;
  }

  .addonbtn {
    text-align: center;
    width: 100%;
  }

  .wrapper {
    margin-bottom: 30px;
  }

  .featureSection {
    margin: 0px 0px 0px 0px;
  }

  .featureIcon h3 {
    font-size: 2vw;
    margin: 0px 0px 20px 0px;
  }

  .leftContent h2 {
    text-align: center;
    margin: 0px 0px 15px 0px;
    color: rgb(234, 238, 241);
  }

  .cmd {
    font-size: 6vw;
    text-align: center;
    margin: 0px 0px 15px 0px;
  }

  .featurep {
    margin: 0px 0px 15px 0px;
    text-align: center;
  }

  .rightContentfeature {
    text-align: center;
    width: 100%;
  }

  .rightContentfeature img {
    width: 100%;
    text-align: center;
  }

  .skynoxicon {
    width: 49%;
  }

  .icon {
    font-size: 4.5vw;
  }

  .skynoxicon img {
    width: 25%;
  }

  .featuresBtnAddon2 {
    margin-left: 10px;
    font-family: "Nunito Sans", sans-serif;
    color: rgb(234, 238, 241);
    background: transparent;
    border: 1px rgb(234, 238, 241) solid;
    border-radius: 3px;
    margin: 20px 0px 20px 15px;
    padding: 10px 10px 10px 10px;
    cursor: pointer;
  }

  .featuresBtn2 {
    display: none;
  }

  .footer {
    font-size: 3vw;
  }

  .contact {
    font-size: 3vw;
  }
}
